body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.topmid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 8px 16px;
}

.topmidleft {
  width: 400px;
}